body {
  font-family: sans-serif;
  /*margin: auto;*/
  max-width: 100%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.indent1{
  padding-left: 10px;
  color: black;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.canClick{
  cursor: pointer;
}